body {
  margin-bottom: 300px;
}

#gameName {
  text-align: center;
  vertical-align: middle;
  margin-left: 35vw;
}

.card-img-top {
  cursor: pointer;
  width: 100%;
  height: 230px;
}

#toastContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1056;
  font-weight: bold;
}

#toastContainer > div > div {
  font-size: 1.5em;
}

.resizable {
  display: inline-block;
  resize: both;
  overflow: hidden;
  line-height: 0;
}

.resizable img {
  height: 100%;
}

.custom-popover {
  --bs-popover-border-color: var(--bs-warning);
  --bs-popover-header-bg: var(--bs-warning);
  --bs-popover-header-color: var(--bs-white);
}

.tooltip.show {
  opacity: 1;
}

#brushpresetsgroup > label {
  display: flex;
  align-items: center;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

.colorpresetgroup > button {
  width: 40px;
  height: 40px;
  border: 0;
  margin-top: 6px;
  margin-right: 3px;
}

.colorpresetgroup {
  margin: 0;
  padding: 0;
  width: 236px;
}

#drawing-color {
  margin-top: 5px;
  width: 230px;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
}

#drawemotecardbody {
  vertical-align: middle;
  align-items: center;
  text-align: center;
}

#drawemotecard {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 200px;
}

#drawlb {
  height: 75vh;
  overflow: auto;
}

#eraser,
#clear-canvas {
  width: 114px;
}

#undo,
#redo {
  margin-top: 5px;
  width: 116px;
}

#drawoutput {
  text-align: center;
  margin-top: 5px;
  width: 230px;
}

#drawing-line-width {
  max-width: 230px;
}

#drawlbcard {
  margin-top: 10px;
}
