#twitchStatus {
  margin-right: 5px;
}

#questionCard {
  margin-bottom: 10px;
}
#controlsCard {
  margin-bottom: 10px;
}
#scoreCard {
  margin-bottom: 10px;
}

#controlsCardBody > button {
  margin-right: 10px;
}

#openOffcanvasbtn {
  font-size: 25px;
  position: fixed;
  bottom: 50px;
  left: 0;
  transform-origin: bottom left;
  border-radius: 0 1em 1em 0;
  z-index: 0;
}

#offcanvas {
  width: 50vw;
}

.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background-color: #000000;
  color: #000000;
  font-size: large;
}

#toastContainer {
  position: fixed;
  bottom: 10px;
  z-index: 1056;
  font-weight: bold;
  text-shadow: -1px 1px 2px #000000;
}

#users {
  word-wrap: break-word;
}

#toastContainer > div > div {
  font-size: 1.5em;
}

.editbtn {
  color: #2995ee;
}

.editbtn:hover {
  color: #2481ce;
  cursor: pointer;
}

label.list-group-item {
  cursor: pointer;
}

#mainrow {
  margin-top: 10px;
}

.custom-popover {
  --bs-popover-border-color: var(--bs-warning);
  --bs-popover-header-bg: var(--bs-warning);
  --bs-popover-header-color: var(--bs-white);
}

.dankcol {
  width: 0px;
  margin: 0px;
  padding: 0px;
}

#question {
  text-align: center;
}

.resizable {
  display: inline-block;
  resize: both;
  overflow: hidden;
  line-height: 0;
  vertical-align: middle;
}

.resizable img {
  height: 100%;
}
