#maincol {
  height: 90vh;
  overflow-y: scroll;
}

#tableOfContents {
  margin-bottom: 12px;
}

#mainrow {
  margin-top: 10px;
}

.undertwitchbtn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(150, 147, 147, 0.3);
}

.btn-vts {
  color: #ffffff;
  text-shadow: 2px 1px 3px #000000;
  background-color: #ffb0cd;
  border-color: #fca4c5;
}

.btn-vts:active,
.btn-vts:focus,
.btn-vts:hover {
  color: #ffffff;
  background-color: #ff9ac1;
  border-color: #ff9ac1;
}

.undervtsbtn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(150, 147, 147, 0.3);
}

#connectvtsbtn {
  margin-right: 10px;
}

h4,
h3 {
  margin-top: 50px;
}
