body {
  margin-bottom: 300px;
}

#gameName {
  text-align: center;
  vertical-align: middle;
  margin-left: 35vw;
}

.card-img-top {
  cursor: pointer;
  width: 100%;
  height: 230px;
}

#toastContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1056;
  font-weight: bold;
}

#toastContainer > div > div {
  font-size: 1.5em;
}

#emoteTimeBar {
  transition-timing-function: linear;
  transition-duration: 0s;
}

.resizable {
  display: inline-block;
  resize: both;
  overflow: hidden;
  line-height: 0;
}

.resizable img {
  height: 100%;
}

.custom-popover {
  --bs-popover-border-color: var(--bs-warning);
  --bs-popover-header-bg: var(--bs-warning);
  --bs-popover-header-color: var(--bs-white);
}

.tooltip.show {
  opacity: 1;
}

.emotes-emote {
  height: 166px;
  width: 166px;
  margin: 5px;
  width: fit-content;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.emotes-emote > img {
  height: 85%;
}

.placeholder-emote {
  height: 166px;
  width: 166px;
  display: inline-flex;
  margin-right: 16px;
}

.placeholder-emote > .card-body > img {
  height: 100%;
  width: 100%;
  -webkit-filter: blur(5px) grayscale(80%);
  -moz-filter: blur(5px) grayscale(80%);
  -o-filter: blur(5px) grayscale(80%);
  -ms-filter: blur(5px) grayscale(80%);
  filter: blur(5px) grayscale(80%);
}

.blur {
  -webkit-filter: blur(10px) grayscale(80%);
  -moz-filter: blur(10px) grayscale(80%);
  -o-filter: blur(10px) grayscale(80%);
  -ms-filter: blur(10px) grayscale(80%);
  filter: blur(10px) grayscale(80%);
}

#settingsOffcanvas {
  height: 50vh;
}

#settingsOffcanvas > .offcanvas-body {
  padding-bottom: 200px;
}

.qualified {
  font-size: 16px;
  text-shadow: 1px 1px 4px #000000;
}
