::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-tertiary-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--bs-dark-bg-subtle);
  border-radius: 6px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.emote {
  max-height: 1.5em;
  max-width: 384px;
}

.wide-tooltip > div.tooltip-inner {
  max-width: 1200px;
}

.cursor-pointer {
  cursor: pointer;
}

.chat-badge {
  height: 1.3rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

input:disabled,
select:disabled {
  cursor: not-allowed;
}

.twitch-icon {
  display: inline-block;
  width: 22px;
  height: 26px;
  background-image: url(/pics/twitch.png);
  margin: 0 5px -8px 0;
}

.btn-twitch {
  color: #ffffff;
  background-color: #9933ff !important;
  border-color: #8744aa !important;
}

.btn-twitch:active,
.btn-twitch:focus,
.btn-twitch:hover {
  color: #ffffff;
  background-color: #8038de !important;
  border-color: #7f40a1 !important;
}

.youtube-icon {
  display: inline-block;
  width: 37px;
  height: 26px;
  background-image: url(/pics/youtube.png);
  margin: 0 5px -5px 0;
}

.btn-youtube {
  color: #ffffff;
  background-color: #ff0000 !important;
  border-color: #e00000 !important;
}

.btn-youtube:active,
.btn-youtube:focus,
.btn-youtube:hover {
  color: #ffffff;
  background-color: #cc0000 !important;
  border-color: #be0000 !important;
}

.vts-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(/vts/vts.png);
  margin: 0 5px -8px 0;
  filter: grayscale(100%);
}

#vtsLink:hover .vts-icon {
  filter: none;
}

