body {
  margin-bottom: 300px;
}

#gameName {
  text-align: center;
  vertical-align: middle;
  margin-left: 35vw;
}

.card-img-top {
  cursor: pointer;
  width: 100%;
  height: 230px;
}

#toastContainer {
  z-index: 1056;
  position: fixed;
  top: 1%;
  width: 15vw;
}

.resizable {
  display: inline-block;
  resize: both;
  overflow: hidden;
  line-height: 0;
}

.resizable img {
  height: 100%;
}

.custom-popover {
  --bs-popover-border-color: var(--bs-warning);
  --bs-popover-header-bg: var(--bs-warning);
  --bs-popover-header-color: var(--bs-white);
}

.tooltip.show {
  opacity: 1;
}

.nwwrapper {
  margin: 0 auto;
  width: fit-content;
  overflow: hidden;
  padding: 30px;
  box-shadow: 1px 4px 8px #000000;
  position: relative;
  background-color: #6b6b6b;
  float: left;
}

.nwrows {
  height: fit-content;
  width: fit-content;
}

.nwsquare {
  margin: 5px;
  width: 4vw;
  height: 4vw;
  padding: 0px;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s ease-in, font-size 0.1s ease-in;
}
.nwsquare:empty {
  font-size: 0px;
}

#nwoutput {
  width: 100%;
  display: flex;
}

/* keyboard */

#nwkeyboard {
  margin: 1em 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}
.nw-keyboard-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  gap: 4px;
}
.nw-keyboard-key {
  min-width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0.75rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0px 0px 2px black;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
}
.nw-keyboard-key-wide {
  min-width: 2.5em;
}
