body {
  margin-bottom: 300px;
}

#gameName {
  text-align: center;
  vertical-align: middle;
  margin-left: 35vw;
}

.card-img-top {
  cursor: pointer;
  width: 100%;
  height: 230px;
}

#toastContainer {
  z-index: 1056;
  position: fixed;
  top: 1%;
  width: 15vw;
}

.resizable {
  display: inline-block;
  resize: both;
  overflow: hidden;
  line-height: 0;
}

.resizable img {
  height: 100%;
}

.custom-popover {
  --bs-popover-border-color: var(--bs-warning);
  --bs-popover-header-bg: var(--bs-warning);
  --bs-popover-header-color: var(--bs-white);
}

.tooltip.show {
  opacity: 1;
}

/* =================================== arena=================================== */

/* div#arena {
    min-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
} */

div.main-part {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

div#controls {
  display: flex;
  flex-flow: column nowrap;
}

div.control-line {
  flex: 1 0 auto;
  display: inline-block;
}

div#killfeed {
  min-width: 160px;
  width: 100%;
  max-width: calc(100% - 1280px);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  max-height: 30vh;
  overflow-y: auto;
  word-wrap: break-word;
}

div.killfeed-line {
  padding: 0.3em 0.1em;
  border: 1px solid silver;
  border-radius: 0.1em;
  width: 90%;
  text-align: right;
  background: rgba(255, 0, 0, 0.1);
  font-weight: bold;
}

#bStartGame,
#bCleanUp {
  margin-top: 5px;
}

/* =================================== arena=================================== */
