@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    dim --default,
    lemonade;
}

.emote {
  max-height: 1.5em;
  max-width: 384px;
}

.chat-badge {
  height: 1.3rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

input:disabled,
select:disabled {
  cursor: not-allowed;
}
