@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    forest --default,
    lemonade;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-tertiary-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-secondary-color);
}

::-webkit-scrollbar-track {
  background: var(--bs-dark-bg-subtle);
  border-radius: 6px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.emote {
  max-height: 1.5em;
  max-width: 384px;
}

.wide-tooltip > div.tooltip-inner {
  max-width: 1200px;
}

.cursor-pointer {
  cursor: pointer;
}

.chat-badge {
  height: 1.3rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

input:disabled,
select:disabled {
  cursor: not-allowed;
}
