body {
  margin-bottom: 300px;
}

#gameName {
  text-align: center;
  vertical-align: middle;
  margin-left: 35vw;
}

.card-img-top {
  cursor: pointer;
  width: 100%;
  height: 230px;
}

#toastContainer {
  z-index: 1056;
  position: fixed;
  top: 1%;
  width: 15vw;
}

.resizable {
  display: inline-block;
  resize: both;
  overflow: hidden;
  line-height: 0;
}

.resizable img {
  height: 100%;
}

.custom-popover {
  --bs-popover-border-color: var(--bs-warning);
  --bs-popover-header-bg: var(--bs-warning);
  --bs-popover-header-color: var(--bs-white);
}

.tooltip.show {
  opacity: 1;
}

#shapeschartdiv {
  position: relative;
  height: 40vh;
  width: 100%;
}

div.figure-container {
  display: flex;
  flex-flow: row nowrap;
  width: auto;
  align-items: flex-start;
  margin: 1vw 0;
}

div.figure {
  flex: 0 auto;
  border: 1px solid silver;
  min-width: 128px;
  min-height: 128px;
  max-width: 128px;
  max-height: 128px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

div.unknown {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjMxLjM1N3B4IiBoZWlnaHQ9IjMxLjM1N3B4IiB2aWV3Qm94PSIwIDAgMzEuMzU3IDMxLjM1NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzEuMzU3IDMxLjM1NzsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTE1LjI1NSwwYzUuNDI0LDAsMTAuNzY0LDIuNDk4LDEwLjc2NCw4LjQ3M2MwLDUuNTEtNi4zMTQsNy42MjktNy42Nyw5LjYyYy0xLjAxOCwxLjQ4MS0wLjY3OCwzLjU2Mi0zLjQ3NSwzLjU2Mg0KCQljLTEuODIyLDAtMi43MTItMS40ODItMi43MTItMi44MzhjMC01LjA0Niw3LjQxNC02LjE4OCw3LjQxNC0xMC4zNDNjMC0yLjI4Ny0xLjUyMi0zLjY0My00LjA2Ni0zLjY0Mw0KCQljLTUuNDI0LDAtMy4zMDYsNS41OTItNy40MTQsNS41OTJjLTEuNDgzLDAtMi43NTYtMC44OS0yLjc1Ni0yLjU4NEM1LjMzOSwzLjY4MywxMC4wODQsMCwxNS4yNTUsMHogTTE1LjA0NCwyNC40MDYNCgkJYzEuOTA0LDAsMy40NzUsMS41NjYsMy40NzUsMy40NzZjMCwxLjkxLTEuNTY4LDMuNDc2LTMuNDc1LDMuNDc2Yy0xLjkwNywwLTMuNDc2LTEuNTY0LTMuNDc2LTMuNDc2DQoJCUMxMS41NjgsMjUuOTczLDEzLjEzNywyNC40MDYsMTUuMDQ0LDI0LjQwNnoiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K");
  background-size: 33%;
  opacity: 0.3;
}

div.next {
  opacity: 1;
}

div.circle {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzJweCIgaGVpZ2h0PSI3MnB4IiB2aWV3Qm94PSIwIDAgNzIgNzIiIGlkPSJlbW9qaSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZyBpZD0iY29sb3IiPgogICAgPHBhdGggZmlsbD0iI0VBNUE0NyIgc3Ryb2tlPSJub25lIiBkPSJNMzUuNTY2MSw2LjQwNjZjLTE2LjAxNjIsMC0yOSwxMi45ODM4LTI5LDI5YzAsMTYuMDE2NCwxMi45ODM4LDI5LDI5LDI5czI5LTEyLjk4MzYsMjktMjkgQzY0LjU2NjEsMTkuMzkwMyw1MS41ODIzLDYuNDA2NiwzNS41NjYxLDYuNDA2NnogTTM1LjU2NjEsNTUuNDA2NmMtMTEuMDQ1NywwLTIwLTguOTU0My0yMC0yMHM4Ljk1NDMtMjAsMjAtMjBzMjAsOC45NTQzLDIwLDIwIFM0Ni42MTE4LDU1LjQwNjYsMzUuNTY2MSw1NS40MDY2eiIvPgogIDwvZz4KICA8ZyBpZD0iaGFpciIvPgogIDxnIGlkPSJza2luIi8+CiAgPGcgaWQ9InNraW4tc2hhZG93Ii8+CiAgPGcgaWQ9ImxpbmUiPgogICAgPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik00OC41MTUzLDI1LjUwNDYiLz4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjYsMzcuNjU1NCIvPgogICAgPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik00OC41MTUzLDI2LjMxODUiLz4KICAgIDxjaXJjbGUgY3g9IjM1Ljc5NTIiIGN5PSIzNS45MzcyIiByPSIyOSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIvPgogICAgPGNpcmNsZSBjeD0iMzUuNzk1MiIgY3k9IjM1LjkzNzIiIHI9IjIwIiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIi8+CiAgPC9nPgo8L3N2Zz4K");
}

div.square2 {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzJweCIgaGVpZ2h0PSI3MnB4IiB2aWV3Qm94PSIwIDAgNzIgNzIiIGlkPSJlbW9qaSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZyBpZD0iY29sb3IiPgogICAgPHBhdGggZmlsbD0iI2VhNWE0NyIgZD0iTTU5LjAzNDksNjBoLTQ2LjA3QS45Njc5Ljk2NzksMCwwLDEsMTIsNTkuMDM0OXYtNDYuMDdBLjk2NzkuOTY3OSwwLDAsMSwxMi45NjUxLDEyaDQ2LjA3QS45Njc5Ljk2NzksMCwwLDEsNjAsMTIuOTY1MXY0Ni4wN0EuOTY3OS45Njc5LDAsMCwxLDU5LjAzNDksNjBaIi8+CiAgPC9nPgogIDxnIGlkPSJsaW5lIj4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNTkuMDM0OSw2MGgtNDYuMDdBLjk2NzkuOTY3OSwwLDAsMSwxMiw1OS4wMzQ5di00Ni4wN0EuOTY3OS45Njc5LDAsMCwxLDEyLjk2NTEsMTJoNDYuMDdBLjk2NzkuOTY3OSwwLDAsMSw2MCwxMi45NjUxdjQ2LjA3QS45Njc5Ljk2NzksMCwwLDEsNTkuMDM0OSw2MFoiLz4KICA8L2c+Cjwvc3ZnPgo=");
}

div.blue {
  filter: hue-rotate(180deg);
}

div.small {
  background-size: 40%;
}

div.option:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.09);
  opacity: 0.95;
}

div.unpickable {
  opacity: 0.05 !important;
}

#difficulty {
  max-width: 200px;
}

#variants > div {
  font-size: 1.5em;
  color: #a1a1a1;
  font-weight: bold;
}
